<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Restoran</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
  <link rel="manifest" href="./app.webmanifest">
</head>

<body>
  <custom-header></custom-header>

  <main id="main-content" tabindex="0">
    <div class="content">
      <h1>Detail Restaurant</h1>
      <p>Explore top culinary choices with honest reviews, tempting photos, and
        complete information. Find and enjoy your favorite restaurants here!</p>
    </div>
    <p></p>
    <div class="restaurant-detail-card">
      <restaurant-detail></restaurant-detail>
    </div>
    <div id="back-to-top">
      <button class="btn-back-to-top" aria-label="Back to top"><i class="fas fa-chevron-up"></i></button>
    </div>
  </main>

  <custom-footer></custom-footer>

</body>

</html>