<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite Restaurants</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
  <link rel="manifest" href="./app.webmanifest">

</head>

<body>
  <custom-header></custom-header>

  <main id="main-content">
    <div class="content">
      <h1>Favorite Restaurant</h1>
    <p>Welcome to the Favorite Restaurants Page! Discover selected restaurants with delicious dishes and a cozy atmosphere ready to indulge you.</p></div>
    <div id="favorite-restaurants" class="restaurant-list">
    </div>
    <div id="back-to-top">
      <button class="btn-back-to-top" aria-label="Back to top"><i class="fas fa-chevron-up"></i></button>
    </div>

  </main>

  <custom-footer></custom-footer>

</body>

</html>
